* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 5px solid red;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul {
    list-style: none;
}

header {
    background: url(../img/jumbo.png) center;
    background-size: cover;
    height: 500px;
    padding-top: 20px;
    position: relative;
}

nav.topbar {
    height: 34px; /* logo height */
    line-height: 34px;
    color: white;
}

nav.topbar .discord-logo, nav.topbar .login {
    width: 25%;
    height: 100%;
}

nav.topbar .navigation {
    width: 50%;
    height: 100%;
    text-align: center;
}

nav.topbar .navigation li {
    display: inline-block;
    margin-left: 25px;
}

.login-button {
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.topbar-text {
    width: 50%;
    color: white;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.topbar-text-paragraph {
    padding-top: 20px
}

.jumbo-buttons {
    margin-top: 50px;
    text-align: center;
}

.jumbo-buttons .button {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
}

#button-1 {
    color: black;
    background-color: white;
}

#button-2 {
    color: white;
    background-color: black;
}

.main-img {
    width: 60%;
}

.main-txt {
    width: 40%;
    height: 100%;
    padding: 0 150px;
}

.main-txt h2 {
    margin-top: 40px;
}
.main-txt p {
    margin-top: 20px;
}