* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul {
    list-style: none;
}

header {
    background: url(../img/jumbo.png) center;
    background-size: cover;
    height: 500px;
    padding-top: 20px;
    position: relative;
}

nav.topbar {
    height: 34px; /* logo height */
    line-height: 34px;
    color: white;
}

nav.topbar .discord-logo, nav.topbar .login {
    width: 25%;
    height: 100%;
}

nav.topbar .navigation {
    width: 50%;
    height: 100%;
    text-align: center;
}

nav.topbar .navigation li {
    display: inline-block;
    margin-left: 25px;
}

.login-button {
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.topbar-text {
    width: 50%;
    color: white;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.topbar-text-paragraph {
    padding-top: 20px
}

.jumbo-buttons {
    margin-top: 50px;
    text-align: center;
}

.button {
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
}

#button-1 {
    color: black;
    background-color: rgba(255,255,255,255);
    margin-right: 10px;
}

#button-2 {
    color: white;
    background-color: rgba(35,39,42,255);
}

#button-3 {
    margin-top: 20px;
    color: white;
    background-color: #8ea1e1;
}

#button-4 {
    color: white;
    background-color: #8ea1e1;
    width: 100px;
}

.main-img-float {
    width: 60%;
}

.main-txt-float {
    width: 40%;
    height: 100%;
    padding: 0 150px;
}

.main-txt-float h2 {
    margin-top: 40px;
}

.main-txt-float p {
    margin-top: 20px;
}

.main-txt-regular {
    text-align: center;
    margin-top: 40px;
}

.main-txt-regular p {
    margin-top: 20px;
}

.main-img-regular {
    text-align: center;
}

.bf-footer {
    text-align: center;
    margin: 50px 0 0 100px;
}

.bf-footer-txt {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

footer {
    margin-top: 100px;
    padding-top: 50px;
    color: white;
    background-color: rgba(35,39,42,255);
}

footer h3, footer h5 {
    color:#7289da;
}

.section-1 {
    width: 40%;
}

.section-2, .section-3, .section-4, .section-5 {
    width: 15%;
}

footer hr {
    color: #6f85d3;
    max-width: 1200px;
}

.last-footer-section {
    padding: 20px;
    border-top: 1px solid #7289da;
    margin-top: 10px;
}

#ita {
    background-image: url(../img/ita.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
}
